extends ../layouts/common.pug
block content  
  h1 Create user
  form(method="post",action="/users/create")
    div(class="form-group")
      input(name="name",type="text",placeholder="Ten",class="form-control")
    div(class="form-group")    
      input(name="age",type="text",placeholder="Tuoi",class="form-control")
    button(type="submit",class="btn btn-primary") Create