extends ../layouts/common.pug
block content  
  h1 
    span(class="mr-3") Users
    a(href="/users/create",class="btn btn-success") Add new
  .d-flex.align-items-center    
    form(name="search",action="/users/search",class="ml-auto d-flex")
      input(name="q",type="text",class="form-control")
      button(type="submit",class="btn btn-primary") Search
  table(class="table")
    tr
      th Name
      th Age
      th Action
    each user,index in users
      tr
        td=user.name
        td=user.age
        td 
          a(href="/users/" + user.id) View  