<h1>Users</h1>
a(href="/users/create") Add
form(name="search",action="/users/search")
  input(name="q",type="q")
  button(type="submit") Search
ul
  each user,index in users
    li
      span=user.name
      a(href="/users/" + user.id) View